<div class="title-bar"> <h1 class="page-title">Add Catalog</h1></div>
<div class="page-container">

  <form class="form-horizontal" novalidate [formGroup]="brand" (ngSubmit)="onSubmit(catalog)">
  <fieldset>

  <div class="form-group">
    <label class="col-md-4 control-label" for="selectbrand">Brand:</label>
    <div class="col-md-4">
      <select id="selectbrand" name="selectbrand" class="form-control">
        <option value="Enro">Enro</option>
        <option value="Maker &amp; Company">Maker &amp; Company</option>
        <option value="Savile Row">Savile Row</option>
        <option value="Damon">Damon</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="catalogName">Catalog Title:</label>
    <div class="col-md-4">
    <input id="catalogName" name="catalogName" formControlName="catalogName" type="text" placeholder="" class="form-control input-md">
    <br />
     <div
    class="alert alert-danger"
    *ngIf="brand.get('name').hasError('required') && brand.get('name').touched">
    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Brand name is required!</p>
    </div>
    </div>
  </div>


  <div class="form-group">
    <label class="col-md-4 control-label" for="pubDate">Release Date:</label>
    <div class="col-md-4">
      <my-date-picker [options]="myDatePickerOptions"
                (dateChanged)="onDateChanged($event)"></my-date-picker>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="uploadthumb">Upload Thumb (.jpg or .png):</label>
    <label class="custom-file-upload" for="uploadthumb">Select File</label>
    <div class="upload-filename">{{thumbFile}}</div>
    <div class="col-md-4">
      <input id="uploadthumb" name="uploadthumb" class="input-file" type="file" accept=".jpg, .jpeg, .png" (change)="onThumbChange($event)">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="uploadpdf">Upload PDF:</label>
    <label class="custom-file-upload" for="uploadpdf">Select File</label>
    <div class="upload-filename">{{pdfFile}}</div>
    <div class="col-md-4">
      <input id="uploadpdf" name="uploadpdf" class="input-file" type="file" accept=".pdf" (change)="onPdfChange($event)">
    </div>
  </div>


  <button type="submit" class="btn btn-lg btn-primary center-block"><i class="fa fa-plus-circle" aria-hidden="true"></i>
 Add Catalog</button>
  </fieldset>
  </form>


</div>
