<div class="title-bar">
    <h1 class="page-title">Edit Catalog</h1>
</div>
<div class="page-container">
    <form class="form-horizontal" novalidate [formGroup]="catalog" (ngSubmit)="onSubmit(catalog)">
        <fieldset>

            <div class="form-group">
                <label class="col-md-4 control-label" for="brand">Brand:</label>
                <div class="col-md-4">
                    <select id="brand" formControlName="brand" name="brand" class="form-control">
                        <option *ngFor="let brand of brands" [value]="brand._id">{{brand.name}}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="this.brandError">
                        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Brand name is required!</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="catalogName">Catalog Name:</label>
                <div class="col-md-4">
                    <input id="catalogName" name="catalogName" formControlName="catalogName" type="text" placeholder="" class="form-control input-md">
                    <div class="alert alert-danger" *ngIf="this.nameError">
                        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Catalog name is required!</p>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="pubDate">Published Date:</label>
                <div class="col-md-4">
                    <my-date-picker formControlName="pubDate" [(ngModel)]="pubDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
                    <div class="alert alert-danger" *ngIf="this.dateError">
                        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> A valid date is required!</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="uploadthumb">Upload Thumb (.jpg or .png):</label>
                <label class="custom-file-upload" for="uploadthumb">Select File</label>

                <div class="col-md-4">
                    <img *ngIf="this.uploading" src="../../assets/spinner.gif" class="spinner">
                    <img class="uploadedImg" *ngIf="this.thumbFileSrc" [src]="this.thumbFileSrc">
                    <input id="uploadthumb" formControlName="catalogThumb" name="uploadthumb" class="input-file" type="file" accept=".jpg, .jpeg, .png" (change)="onThumbChange($event)">

                    <div class="alert alert-danger" *ngIf="this.imageError">
                        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> A valid image file is required!</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Upload PDF:</label>
                <div class="col-md-4">
                    <img *ngIf="this.pdfUploading" src="../../assets/spinner.gif" class="spinner">
                    <input id="uploadpdf" formControlName="catalogPdf" name="uploadpdf" class="input-file" type="file" accept=".pdf" (change)="onPdfChange($event)">
                    <div class="alert alert-danger" *ngIf="this.pdfError">
                        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> A valid PDF file is required!</p>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" *ngIf="this.errorMessage">
                <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{errorMessage}}</p>
            </div>
            <br />
            <button [disabled]="this.submitting" type="submit" class="btn btn-lg btn-primary center-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
 Save Changes</button>
        </fieldset>
    </form>



</div>