header {
  color: #222255;
  padding-bottom: 1%;
  font-size: 2.2em;
  font-weight: 900;
  text-align: center;
  background-color: white;
  width: 100%;
  clear: both;
}

header img {
  margin: auto;
  width: 50px;
  margin-bottom: 5px;
  display: block;
}

.login-link {
  font-size: 1.6em;
  line-height: 1;
  padding-top: 1%;
  padding-right: 1%;
}

.login-panel {
  width: 100%;
  background-color: white;
  text-align: right;
  padding: 1%;
}

.logout-link {
  color: #222255;
  cursor: pointer;
}

footer {
  background-color: #222255;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 2%;
  font-size: 1.4em;
  color: white;
}

nav {
  background-color: #222255;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #222255;

}

nav li {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.8em;
}

nav a:link {
  color: white;
}

nav a:active {
  color: white;
}

nav a:hover {
  color: white;
}

nav a:visited {
  color: white;
}

.main-container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.nav {
  padding: 1%;
  display: inline-block;
}

.active-nav {
    background-color: #07063a;
}

.active-sub-nav {
  font-weight: 900;
}

.hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

@media (max-width: 800px) {

  .desktop-nav {
    display: none;
  }

  header {
    padding: 3%;
  }

  .nav {
    display: block;
  }

  .login-panel {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 1.6em;
    text-align: left;
    cursor: pointer;
  }
}
