<div class="title-bar">
    <h1 class="page-title">Catalog Administration</h1>
</div>
<div class="page-container">
    <div class="admin-buttons">
        <a routerLink="/add-brand"><button class="btn btn-lg btn-warning"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Brand</button></a>
        <a *ngIf="brands || brands.length > 0" routerLink="/add-catalog"><button class="btn btn-lg btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Catalog</button></a>
    </div>

    <p class="empty-msg" *ngIf="!brands || brands.length === 0">There are no brands! Please add a brand.</p>


    <div class="row" *ngFor="let brand of brands">
        <div class="col-md-2"><img [src]="brand.displayImg" class="admin-thumb"></div>
        <div class="col-md-5">
            <h2>{{brand.name}}</h2>
        </div>
        <div class="col-md-5 button-panel">
            <a routerLink="/edit-brand/{{brand._id}}"><button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Brand</button></a>
            <a routerLink="/catalogs/{{brand._id}}"><button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Catalogs</button></a>
        </div>
    </div>
</div>