<div class="title-bar">
    <h1 class="page-title">Catalog Administration</h1>
</div>
<div class="page-container">
    <div class="admin-buttons">
        <a routerLink="/admin/add-brand"><button class="btn btn-lg btn-warning"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Brand</button></a>
        <a routerLink="/admin/add-catalog"><button class="btn btn-lg btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Catalog</button></a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Enro
                    </th>
                    <th>
                        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Brand</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Spring 2017
                    </td>
                    <td>
                        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Catalog</button>
                        <app-delete-modal></app-delete-modal>

                    </td>
                </tr>
                <tr>
                    <td>
                        Fall 2016
                    </td>
                    <td>
                        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Catalog</button>
                        <app-delete-modal></app-delete-modal>
                    </td>
                </tr>
                <tr>
                    <td>
                        Spring 2016
                    </td>
                    <td>
                        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Catalog</button>
                        <app-delete-modal></app-delete-modal>
                    </td>
                </tr>
                <tr>
                    <td>
                        Fall 2015
                    </td>
                    <td>
                        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Catalog</button>
                        <app-delete-modal></app-delete-modal>
                    </td>
                </tr>
                <tr>
                    <td>
                        Spring 2015
                    </td>
                    <td>
                        <button class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Catalog</button>
                        <app-delete-modal></app-delete-modal>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>