.catalog-container {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.featured-catalog {
    height: 300px;
    width: 30%;
    margin: 1%;
    font-size: 2em;
    color: white;
    font-weight: 900;
    text-align: center;
    line-height: 300px;
    padding: 0;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {

    .featured-catalog {
        height: 250px;
        background-position: center;
        margin-bottom: 2%;
    }
  
}