.catalog-container {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.featured-catalog {
    height: 300px;
    width: 30%;
    margin: 1%;
    font-size: 2em;
    color: white;
    font-weight: 900;
    text-align: center;
    line-height: 300px;
    padding: 0;
}

.inner-container {
    width: 100%;
    background-size: cover;
}

.inner-container span {
    padding: 1%;
    width: 100%;
    color: white;
    display: inline;
    text-shadow: 2px 2px black;
}

@media (max-width: 1024px) {
    .catalog-container {
        display: block;
    }
    .featured-catalog {
        width: 100%;
        margin-bottom: 2%;
    }
    .inner-container {
        background-position: center;
    }
}