<div class="title-bar">
    <h1 class="page-title">{{this.currentBrand.name}}</h1>
</div>
<div class="page-container">

    <p class="empty-msg" *ngIf="!currentCatalogs || currentCatalogs.length === 0">There are no catalogs for this brand!</p>

    <div class="catalog-container">


        <div *ngFor="let catalog of currentCatalogs" class="featured-catalog">
            <a routerLink="/catalog/{{catalog._id}}">
                <div class="inner-container" [ngStyle]="{'background-image':'url(' + catalog.catalogThumb + ')'}">
                    <span></span>
                </div>
            </a>

        </div>
    </div>



</div>