/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #222255;
    font-size: 140%;
}

.spinner {
    width: 80px;
}

.body-container {
    background-color: #F2F3F4;
}

p {
    font-size: 1.4em;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3.4em;
}

h2 {
    font-size: 2em;
}

a:link {
    color: #222255;
    text-decoration: none;
}

a:active {
    color: #222255;
    text-decoration: none;
}

a:hover {
    color: #222255;
    text-decoration: none;
}

a:visited {
    color: #222255;
    text-decoration: none;
}

.btn-primary {
    background-color: #222255;
}

.btn-warning {
    background-color: #E88724;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    float: left;
    margin-left: 15px;
}

.upload-filename {
    padding: 6px 12px;
    float: left;
    margin-left: 15px;
    font-weight: 700;
}

.page-container {
    width: 80%;
    max-width: 1400px;
    padding: 2%;
    margin: auto;
    min-height: 800px;
}

.title-bar {
    width: 100%;
    background-color: #E88724;
    text-align: center;
    padding: 1%;
}

.page-title {
    color: white;
    font-weight: 900;
}

.uploadedImg {
    width: 100px;
    height: auto;
}

.empty-msg {
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}

@media (max-width: 1400px) {
    .page-container {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 100%;
    }
    h1 {
        font-size: 2em;
    }
    label {
        font-size: 120%;
    }
    .title-bar {
        padding: 2%;
    }
}