 <nav class="home-mobile-nav">
        <ul>
            <a *ngFor="let brand of brands" routerLink="/brand/{{brand.slug}}" routerLinkActive="active-nav" class="nav">
                <li>{{brand.name}}</li>
            </a>
        </ul>
    </nav>
<carousel id="homepage-slider">
    <slide *ngFor="let brand of brands">
        <a routerLink="/brand/{{brand.slug}}"><img [src]="brand.displayImg" class="slide-img" alt="{{brand.name}}">
            <div class="carousel-caption">
                <h3>{{brand.name}}</h3>
            </div>
        </a>
    </slide>
</carousel>